@charset "UTF-8";
/* CSS Document */
*, *:after, *:before {
	 box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}

body {
	font-size:24px;
}

.wrapper {
	width:71%;
	margin: 0 auto;
}

.row {
	width:100%;
	padding-bottom:10px;	
}

.row:after {
	content:"";
	display:table;
	clear:both;	
}
/*compatible with many of browser*/

[class*='col-'] {
	float:left;
	padding:0 .83rem .83rem 0;
}

[class*='col-']:last-of-type {
	padding:right;
}

.col-1-1 {
	width:100%;
}

.col-2-3 {
	width:66%;
}

.col-1-2 {
	width:50%;
}

.col-1-3 {
	width:33.33%;
}

.col-1-4 {
	width:25%;	
}

.col-1-5 {
	width:20%;	
}

.col-1-6 {
	width:16.66%;
}

.col-1-7 {
	width:14.28%;
}

.col-1-8 {
	width:12.5%;
}

.col-1-9 {
	width:11.11%;
}

.col-1-10 {
	width:10%;
}

.col-1-11 {
	width:9.09%;
}

.col-1-12 {
	width:8.33%;
}
/*----- Header -----*/
#header {
	background-color:black;
	position:fixed;
	width:71%;
	z-index:1000;
}

#toplogo {
	padding:1.7rem 0 1.45rem 1.95rem;
}

header nav ul li a {
	text-transform:uppercase;
	text-decoration:none;
	color:#FFF;
	font-size:1rem;
	font-family: 'Open Sans';
	padding-right:.83rem;
}

nav ul li {
	list-style-type:none;
	display:inline-block;
}

header nav ul {
	text-align:right;
	padding:2.05rem 0 0 0;
}

/*----- Header ends -----*/

/*----- Hero Starts -----*/

#aboutuslink .wrapper {
	padding-top:140px;
}

#heroimg {
	background:url(../img/herobeans.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	margin-top:-2.1rem;
	background-position:0% 45%;
}

.rowheader {
	color:#fff;
	text-align:center;
	padding:1.45rem 0 0 0;   
}

#twinfinchheader {
	padding:12.75rem 0 0 0;
	font-size:3rem;
}

.rowpara {
	color:#fff;
	text-align:center;
	margin-top:-.625rem;
}

#twinfinchparagraph {
	padding:0 0 1.15rem 0;  
}


/*----- Hero Ends -------*/

/*----- Pre-Roast Starts -------*/
#ourroastlink {
	text-align:center;
}

#ourroastlink h2 {
	margin:-.416rem 0 -.208rem 0;
	color:black;
}

h2#preroast {
	margin:3rem 0 .833rem 0;
}

/*----- Pre-Roast Ends ---------*/

/*----- Products Starts ---------*/

.display-block {
	display:block;
}

#oakimage {
	padding:0 0 0 4.5rem;
}

#eveningoakh2 {
	padding:8.5rem 0 0 0;
}

#evening-oak {
	text-align:left;
}
.oakleft {
	font-size:1 rem;	
	padding:0 3rem 0 0;
}

#oakdescription {
	color:#CB1D51;
	font-size:1rem;
}

#addoak {
	text-align:left;
}


.productparagraph {
	padding:0px 1.666rem 0 1.666rem;
	font-size:1 rem;	
}

.itemdescription {
	color:#CB1D51;
	font-size:1rem;	
	padding: 0 .833rem 0 .833rem;
}

#housedescription {
	font-size:.98rem;
}

.addtocart {
	margin:1.75rem 0;
}

/*----- Products Ends -----------*/

/*----- Notice Starts -----------*/

#checkoutheader {
	font-size:1.5rem;
	text-align:center;
	margin: 0 0 3rem 0;
}

#checkoutbutton {
	font-size:2rem;
	
}

#noticeparagraph {
	font-size:.9rem;
	text-align:center;
	padding:0 5rem 1.5rem 5rem;
}

#noticeheader {
	font-family: 'Oswald';
	text-align:center;
	margin-top:2.1rem;
}
/*----- Notice Ends -------------*/

/*----- How to Roast Starts -----*/

#howto-row {
	background:black;
}

#roastheader {
	padding:0 0 0 0;
}

#roastpara {
	color:#fff;
	padding: 0 4.25rem 0 4.25rem;
}

#howtobutton {
	color:black;
	background-color:#fff;
}

a#howtobutton:hover {
	color:#fff;
	background-color:#CB1D51;
}

.howtomapcenter {
	text-align:center;
	margin:2.5rem 0 3.45rem 0;
}

/*----- How to Roast Ends ------*/

/*----- Map Starts -----*/

#mapheader {
	color:black;
	text-align:center;
	padding:-10px 0 0 0;   
}

#map-canvas {
     width: 100%;
     height: 400px;
	 margin:0 0 3.75rem 0;
}
	  
#locationpara {
	color:black;
}


/*----- Map Ends -------*/

/*----- Review Starts --*/

#reviewsection {
	background-color:black;
	margin:-3.2rem 0 0 0;
	text-align:center;
	color:#fff;
}

#reviewheader {
	padding:3rem 0 0 0;
}

h3 {
	font-family: 'Oswald';
	text-transform:uppercase;
	margin:-2rem 0 0 0;
}

#reviewparagraph {
	padding:0 6.5rem 0 6.5rem;
}

#coffeereview {
	font-size: 1rem;
	padding:0;
	text-decoration:none;
}


/*----- Review Ends ----*/

/*----- Contact & E News Starts -----*/

label, input {
	font-family: 'Open Sans';
    font-size:1.2rem;
	tect-align:center;
		
}

label > input{
	display:inline-block;	
}

label {
	color:#fff;	
}

#logoform {
	padding:2rem 0 0 0;
}

.formheaders {
	color:#fff;	
	margin:.4rem 0;
}

form {
	background-color:black;
	text-align:center;
	padding:0 20px;
	margin:1.5rem;
}
form input {
	width:80%;
	margin-bottom:20px;
}

form label {
	display:none;
}

#enewsmargin {
	padding:2rem 0 0 0;
}

::-webkit-input-placeholder {
   text-align:center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align:center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align:center;  
}

:-ms-input-placeholder {  
   text-align:center; 
}


button {
	font-family: 'Oswald';
	font-size:1.5rem;
	border:none; 
	background:#CB1D51; 
	color:#fff; 
	cursor:pointer; 
	padding:.5rem .6rem; 
	margin:1rem 0;
}

a#howtobutton:hover {
	color:#fff;
	background-color:#CB1D51;
	border-color:#FF1F23;
}
/*----- Contact & E News Ends -------*/

/*----- Widgets Start ---------------*/

.widgets {
	background-color:black;
	height:12rem;	
	margin:.45rem 1rem 2.45rem 6.4rem;
}

.widgetheader {
	font-family: 'Oswald';
	font-size:1.5rem;
	color:#fff;
	text-align:center;
	padding:4rem;
}

/*----- Widgets End -----------------*/


/*----- Footer Starts --*/

footer {
	background-color:black;	
}

#footerdirectiontop {
	padding:2.9rem 0 0 2rem;
	margin:0 0 -1rem 0;
}

.footerdirection {
	color:#fff;	
	text-align:left;
	padding:0 0 0 2rem;
}

footer nav ul {
	padding:2.45rem 0 0 0;
	text-align:right;
}

footer nav ul li {
	text-decoration:none;
	padding-right:.33rem;
}

a.buttonhover:hover {
	text-decoration:none;
}

#footerlogo {
	margin:0 auto;
	display:block;
	padding:2rem 0 0 0;
}

a.socmed:hover {
	background-color:black;
}


/*----- Footer Ends ----*/



.center-block {
	float:none !important;
	margin-left:auto;
	margin-right:auto;
}

.display-block {
	display:block;
}

.hidden-lg {
	display:none;
}

/*---- This contains all of the typography----*/
h1 {
	font-family: 'Oswald';
	text-transform:uppercase;
}

h2 {
	font-family: 'Oswald';
	text-transform:uppercase;
	font-size:3rem;
}

p {
   font-family: 'Open Sans';
   font-size:1rem;
   line-height:20pt;	
}

a {
	font-family: 'Oswald';
	text-transform:uppercase;
	font-size:18px;
	color:#fff;
	background-color:#000;
	padding:10px 10px 8px 10px;
}

/*---- End of Typography----*/

/*--- Pseudo Selectors---*/

a:hover {
	background-color:#CB1D51;
	cursor:pointer; 
}

/*-- Pseudo Selectors---*/

@media screen and (max-width:768px) {

.hidden-lg {
	display:block;
}

.wrapper {
	width:95%;
}

[class*='col-'] {
	float:left;

	font-size:13px;
}


.col-1-2 {
	width:50%;
}


.col-1-3 {
	width:33.33%;

}

.col-1-4 {
	width:25%;	
}

.col-1-5 {
	width:20%;	
}

.col-1-6 {
	width:33.33%;	
}

.col-1-7 {
	width:20%;	
}

.col-1-8 {
	width:25%;	
}

.col-1-9 {
	width:20%;	
}

.col-1-10 {
	width:20%;	
}

.col-1-11 {
	width:25%;	
}

.col-1-12 {
	width:25%;	
}

.col-1-1, .full-width {
	width:100%;
}
/*------ Header Starts -----*/
#header {
	width:95%;
}

#header nav ul li a {
	font-size:.9rem;
	padding-right:.53rem;
}

#header nav ul {
	text-align:right;
	padding:3.6rem 0 0 0;
}

/*------ Header Ends -----*/

/*------ Hero Starts -----*/

#twinfinchheader {
	padding:1.65rem 0 0 0;
	font-size:3rem;
}
/*------ Hero Ends ------*/

/*------ Roast Starts ---*/
#roastpara {
	color:#fff;
	padding: 0 4.25rem 0 4.25rem;
}

#evening-oak {
	text-align:center;
}

#addoak {
	text-align:center;
}

#oakimage {
	padding:0 0 0 0;
}

#eveningoakh2 {
	padding:0 0 0 0;
}

#roastpara {
	color:#fff;
	padding: 0 4.25rem 0 4.25rem;
}

/*------Roast Ends ------*/

/*------ Review Starts --*/

#coffeereview {
	padding:0 0 0 1.49rem;
}

/*------ Review ends --*/

/*------ Widgets Starts ------*/

.widgets {
	margin:1rem 1rem 2.45rem 4.4rem;
}

/*------ Widgets Ends --------*/

/*------ Footer Starts --*/
footer nav ul li {
	text-decoration:none;
	padding-right:.23rem;
}

footer nav ul {
	padding:2.75rem 0 0 0;
}
/*------ Footer Endss ---*/
}